@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}


body{
    margin: 0px;
    padding: 0px;
    background-color: #06011B;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    height: 13%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: Medium;
    position: fixed;
    backdrop-filter: blur(40px);
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 50px;
}
.logo img{
    height: 60px;
}


.navbar{
    display: flex;
    width: 90%;
    height: 13%;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: 06011;
    font-size: 20px;
    position: fixed;
    
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

.navbar ul a{
    display: inline-block;       
    padding: 20px 40px;          
    text-decoration: none;      
    color: #FFFFFF;                 
    border-radius: 8px;         
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul a:hover {
    color: #ea1414;
    background-color:rgba(255, 255, 255, 0.8);
}

.login_register{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 500px;
    font-size: 20px;
}

.login_register_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    font-size: 20px;
    gap: 15px;
}

.login_register_buttons button{
    cursor: pointer;
    border-style: none;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}


.login_register_buttons button:hover{
    color: #ea1414; 
    background-color:rgba(255, 255, 255, 0.8);
}

.registre-se{
    background-color: #A90F0F;
}

.login{
   background-color: transparent;
}

main{
    height: 90%;
}

section{
    height: 100vh;
}
.container_home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.home_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_left h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.home_left h1 span{
    color: #A90F0F;
}

.home_left p {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: #FFFFFF;
}
.home_left button{
    border-style: none;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    background-color: #A90F0FFF;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.home_left button:hover{
    color: #ea1414; 
    background-color:rgba(255, 255, 255, 1.0);
}

.constainer_inspiracao{
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.inspiracao_lipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspiracao_lipe img{
    border-radius: 15px;
    height: 75%;
}

.inspiracao_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.inspiracao_text h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;

}

.inspiracao_text p{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-align: justify;
}

.inspiracao_text p span{
    color:#A90F0F;
    font-family: 600;
}


.container_sobre_nos{
    display: flex;
    flex-direction: row;
    height: 85%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}


.sobre_nos_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.sobre_nos_mobile{
    display: flex;
    flex-direction: row;
}

.sobre_nos_text h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.sobre_nos_text p{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-align: justify;
}

.sobre_nos_text span{
    color: #A90F0F;
    font-weight: 600;
}

.container_lendas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../assets/fundolenda.png");
    width: 100vw; /* Largura igual à largura da janela */
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.caixa_lenda{
    width: 70%;
    background-color: rgba(6, 1, 27, 0.8);
    border-radius: 20px;
    padding: 2%;
}

.caixa_lenda h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.caixa_lenda p{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-align: justify;
}

.caixa_lenda span{
    color: #A90F0F;
}

.lenda_exemplo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_lenda_exemplo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;

}

.container_lenda_exemplo h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.container_lenda_exemplo {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-align: justify;
}

.lendas_fotos{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.lendas_texto{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 100%;    
}

.lendas_texto div{
    width: 25%;
}

.realize_quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.realize_quiz img{
    width: 100px;
}

.container_quiz{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.sec_quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.caixa_quiz{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    width: 70%;
    height: 200px;
    gap: 30px;
    background: #A90F0F;
    padding: 0.3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 8px;
}
.text_quiz h1{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 32px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.text_quiz p{
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: bold;
    font-size: 20px;
    color: #FFFFFF;
    text-align: justify;
}
.button_quiz button{
    color: #06011B;
    cursor: pointer;
    border-style: none;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
    transition: transform 0.4s ease;
}

.button_quiz button:hover{
    color: #FFFFFF; 
    background-color:rgba(6, 1, 27, 1.0); 
    transform: scale(1.1);
}

footer{
    width: 100%;
    height: 60%;
}
.container_footer{
    height: 100%;
    width: 100%;
}
.footer_cima{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

.direitos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.termos{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    width: 30%;
}

.termos ul{
    padding-left: 0px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 15px;
    font-style: Medium;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 100%;
}

.reservados{
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 30%;

}

.reservados p{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 15px;
    font-style: Medium;
    width: 100%;
    text-align: center;
}


/* Estilizando o trilho da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra vertical */
    height: 12px; /* Altura da barra horizontal */
  }
  
  /* Estilizando a pegada da barra */
  ::-webkit-scrollbar-thumb {
    background: #A90F0F; /* Cor do polegar */
    border-radius: 6px; /* Bordas arredondadas */
  }
  
  /* Estilizando o trilho da barra */
  ::-webkit-scrollbar-track {
    background: #090226; /* Cor do fundo do trilho */
    border-radius: 6px;
  }
  
  /* Mudança ao passar o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background: #770d0d;
  }

